# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
!macos_sickle.py
!src/
src/*
!src/transposonaligner/
src/transposonaligner/*
!src/transposonaligner/*.py
!src/transposonaligner/*.toml
!data/
data/*
!data/transposons.gb
!data/pputidakt2440.gb
!pyproject.toml
!MANIFEST.in
