*
!.gitignore
!Dockerfile
!testrun.sh
!src/
src/*
!src/tnatlas/
src/tnatlas/*
!src/tnatlas/*.py
!src/tnatlas/*.toml
!data/
data/*
!data/*.ab1
!data/transposons.gb
!data/pputidakt2440.gb
!pyproject.toml
!MANIFEST.in
!LICENSE.txt
